body {

    font-family: Arial, sans-serif;

    margin: 0;

    padding: 0;

    background-color: #f4f4f4;

    color: #333;

}

header {

    background-color: #333;

    color: #fff;

    padding: 1em 0;

    text-align: center;

}

main {

    padding: 20px;

}

section {

    margin-bottom: 20px;

    background-color: #fff;

    padding: 15px;

    border-radius: 8px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

h1, h2, h3 {

    color: #333;

}

ul {

    list-style-type: none;

    padding: 0;

}

li {

    margin-bottom: 5px;

}

a {

    color: #007bff;

    text-decoration: none;

}

a:hover {

    text-decoration: underline;

}

footer {

    text-align: center;

    padding: 1em 0;

    background-color: #333;

}